<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Document</title>
</head>
<body>
  <div id="contenedor">
    <div class="container py-4 my-4 mx-auto d-flex flex-column">
      <div class="header">
          <div class="row r1">
              <div class="col-md-9 abc">
                  <h1>{{ movie.title }}</h1>
              </div>
          </div>
      </div>
      <div class="container-body mt-4">
          <div class="row r3">
              <div class="col-md-5 p-0 klo">
                <br><br>
                  <ul style="font-size: 20px;">
                      <li>Original lenguage: {{ movie.original_language }}</li>
                      <li>Original title: {{ movie.original_title }}</li>
                      <li>Popularity: {{ movie.popularity }} views</li>
                      <li>Release date: {{ movie.release_date }}</li>
                    </ul>
                    <div class=""><button type="button" @click="turnOnRating" class="btn btn-outline-warning">Post rating</button></div>
                    <br>
                    <div v-if="flagRating"class="row">
                      <button class="btn btn-warning" value="1" @click="rating(1)">1</button>
                      <button class="btn btn-warning" value="3" @click="rating(3)">2</button>
                      <button class="btn btn-warning" value="5" @click="rating(5)">3</button>
                      <button class="btn btn-warning" value="7" @click="rating(7)">4</button>
                      <button class="btn btn-warning" value="10" @click="rating(10)">5</button>
                    </div>
                    <div class=""><button type="button" @click="unRating" class="btn btn-outline-warning">unRating</button></div>
              </div>
              <div class="col-md-7"> <img v-bind:src="'https://image.tmdb.org/t/p/w300/'+movie.poster_path"> </div>
          </div>
      </div>
      <div class="footer d-flex flex-column mt-4">
        <div class="row r2">
          <div class="col-md-2"><button @click="turnOnDescrip" type="button" class="btn btn-outline-warning">Description</button></div>
          <div class="col-md-2 mio offset-md-7"><button type="button" class="btn btn-outline-warning"><a href="login.html">Return</a></button></div>
        </div>
      </div>
      <div v-if="flagDescription">
        <br>
        <p style="font-size: 18px;">
          {{ movie.overview }}
        </p>
      </div>
    </div>
  </div>
</body>
<script>
  const { createApp } = Vue
  const app = createApp({
    data(){
      return{
        info: '',
        movie: 0,
        flagDescription: false,
        flagRating: false,
        rate: 0,
      }
    },
    methods: {
      turnOnDescrip(){
        this.flagDescription = (!this.flagDescription)?true:false
      },
      turnOnRating(){
        this.flagRating = (!this.flagRating)?true:false
      },
      rating(x){        
      var config = {
        method: 'post',
        url: 'https://api.themoviedb.org/3/movie/'+ this.movie.id +'/rating?value='+x,
        headers: { 
          'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMDM4OGI2NzU3Y2E2MzYzODQ4YWE3YmY1OGEzYzZjYiIsInN1YiI6IjYzMWU2OTBjYzhmM2M0MDA3ZjZjMDFjMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._PXoXAgWp43cSCc9cQGfF9SKbk5Wmu5VfvRyVXyPSG0'
        }
      };
      var self = this
      axios(config)
      .then(function (response) {
        self.flagRating = (!self.flagRating)?true:false
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'Your rating has been saved',
          showConfirmButton: false,
          timer: 1500
        })
      })
      .catch(function (error) {
        console.log(error);
      });

      },
      unRating(){
        var config = {
          method: 'delete',
          url: 'https://api.themoviedb.org/3/movie/610150/rating',
          headers: { 
            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMDM4OGI2NzU3Y2E2MzYzODQ4YWE3YmY1OGEzYzZjYiIsInN1YiI6IjYzMWU2OTBjYzhmM2M0MDA3ZjZjMDFjMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._PXoXAgWp43cSCc9cQGfF9SKbk5Wmu5VfvRyVXyPSG0'
          }
        };

        axios(config)
        .then(function (response) {
          if (response.data.success) {
            Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Your rating has been deleted',
              showConfirmButton: false,
              timer: 1500
            })
          }else{
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong!',
            })
          }
          })
        .catch(function (error) {
          console.log(error);
        });

      }
      
    },
    mounted(){
      //var axios = require('axios');
      var config = {
        method: 'get',
        url: 'https://api.themoviedb.org/3/movie/popular?language=en-US',
        headers: { 
          'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMDM4OGI2NzU3Y2E2MzYzODQ4YWE3YmY1OGEzYzZjYiIsInN1YiI6IjYzMWU2OTBjYzhmM2M0MDA3ZjZjMDFjMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ._PXoXAgWp43cSCc9cQGfF9SKbk5Wmu5VfvRyVXyPSG0'
        }
      };
      var self = this;
      axios(config)
      .then(function (response) {
        self.info = response.data.results;
        self.movie = self.info[localStorage.getItem('movie')]
      })
      .catch(function (error) {
        console.log(error);
      });
    },
  }).mount('#contenedor')
</script>
</html>