<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer archivo Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="contenedor">
      <div v-if="flagTabla==true">
        <br>
        <button @click="add">Agregar nuevo registro</button>
        <br>
        <br>
        <table>
          <thead>
            <th>$</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr v-for="(iteme, index) in users">
              <td>{{ iteme.id }}</td>
              <td>{{ iteme.name }}</td>
              <td>{{ iteme.username }}</td>
              <td>{{ iteme.email }}</td>
              <td>{{ iteme.phone }}</td>
              <td>{{ iteme.website }}</td>
              <td><button @click="edit(index)">Edit</button><button @click="remove(index)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <br>
        <button v-if="flagEditar==true" @click="add">Aceptar</button>
        <button v-else @click="update">Aceptara</button>
        <br>
        <br>
        <label>Name: </label>
        <input type="text" v-model="newName">
        <br>
        <br>
        <label>Usarname </label>
        <input type="text" v-model="newUsarname">
        <br>
        <br>
        <label>Email: </label>
        <input type="text" v-model="newEmail">
        <br>
        <br>
        <label>Phone: </label>
        <input type="text" v-model="newPhone">
        <br>
        <br>
        <label>Website: </label>
        <input type="text" v-model="newWebsite">
      </div>
    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const { createApp } = Vue
    const app = createApp({
        data(){
            return{
                flagTabla: true,
                flagEditar: false,
                users: null,
                newName: null,
                newUsarname: null,
                newEmail: null,
                newPhone: null,
                newWebsite: null,
                tempId: 0
            }
        },
        methods: {
          remove(x){
            this.users.splice(x,1)
          },
          add(){
            if (this.flagTabla == false) {
              if (this.newName != null || this.newUsarname != null || this.newEmail != null || this.newPhone != null || this.newWebsite != null) { 
                this.users.push({"id": (Object.keys(this.users).length)+1,"name": this.newName,"username": this.newUsarname,"email": this.newEmail, "phone": this.newPhone, "website": this.newWebsite})
              }else{
                alert("Error ingrese todos los datos")
              }
                this.newName = null
                this.newUsarname = null
                this.newEmail = null
                this.newPhone = null
                this.newWebsite = null
            }
            this.flagTabla = (this.flagTabla)?false:true
          },
          edit(x){
            this.flagTabla = false
            this.newName = this.users[x].name
            this.newUsarname = this.users[x].username
            this.newEmail = this.users[x].email
            this.newPhone = this.users[x].phone
            this.newWebsite = this.users[x].website
            this.tempId = x
            this.flagEditar = (this.flagEditar)?true:false
          },
          update(){
            this.users[this.tempId].name = this.newName
            this.users[this.tempId].username = this.newUsarname
            this.users[this.tempId].email = this.newEmail
            this.users[this.tempId].phone = this.newPhone
            this.users[this.tempId].website = this.newWebsite
            this.flagEditar=false
            this.flagTabla=true
          }
        },
        mounted(){
                const fetchData = async () =>{
                    try {
                        const resp = await fetch('users.json')
                        const result = await resp.json()
                        this.users =await result
                        return await result
                        
                    } catch (error) {
                        console.warn(error)
                    }
                }
                fetchData()
            },
    }).mount('#contenedor')
</script>
</html>