<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer archivo Vue.js</title>
</head>
<body>
    <div id="contenedor">
        <input type="text" v-model="number1">
        <input type="text" v-model="number2">
        <button @click="suma">Suma</button>
        {{ total }}
    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    const { createApp } = Vue;
    const app = createApp({
        data(){
            return{
                number1: '',
                number2: '',
                total: ''
            }
        },
        methods: {
            suma(){
                this.total = parseInt(this.number1) + parseInt(this.number2)
            }
        }
    }).mount('#contenedor')
</script>
</html>